
// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-mobile_tablet: 1024px;
$breakpoint-tablet: 1200px;
$breakpoint-desktop: 1600px;

//font
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../font/pretendard-subset/woff2-subset/Pretendard-Black.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../font/pretendard-subset/woff2-subset/Pretendard-ExtraBold.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/pretendard-subset/woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../font/pretendard-subset/woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../font/pretendard-subset/woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: normal;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/pretendard-subset/woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../font/pretendard-subset/woff2-subset/Pretendard-Light.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../font/pretendard-subset/woff2-subset/Pretendard-ExtraLight.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../font/pretendard-subset/woff2-subset/Pretendard-Thin.subset.woff2) format('woff2'), url(../font/pretendard-subset/woff-subset/Pretendard-Thin.subset.woff) format('woff');
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../font/nanum_square/NanumSquareR.eot');
  src: url('../font/nanum_square/NanumSquareR.eot?#iefix') format('embedded-opentype'),
       url('../font/nanum_square/NanumSquareR.svg#NanumSquareR') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquare';
  src: url('../font/nanum_square/NanumSquareB.eot');
  src: url('../font/nanum_square/NanumSquareB.eot?#iefix') format('embedded-opentype'),
       url('../font/nanum_square/NanumSquareB.svg#NanumSquareB') format('svg');
  font-weight: 600;
  font-style: normal;
}

$maingap:30px;
$iptH:29px;
// color
$mainColor:#1e319d;
$subColor:#6776CD;

$thColor:#EAECF0;
$tdBorder:#ddd;
$crisisStage:(lv1:#4182df,lv2:#ebbc46,lv3:#eb8645,lv4:#ef414d);
$status: (
  ongoing: (color: #3c9513, icon: '\ebf1'),
  done: (color: #b5b1b1, icon: '\e877'),
  await: (color: #ee4059, icon: '\ebe9')
);
$conneciton:( connection:#25A849,disconnection:#DE3146 );

$white:#fff;
$black:#222;
$red:#e42b29;
$abnormal:#dd1d1d;
$orange:#ff6941;
$grayblue:#8b95a3;
$blue:#2882df;
$lightblue:#f1f8ff;
$lightpurple:#b4bbe0;
$lightindigo:#6776CD;
$mint:#02a0aa;
$mutered:#d37986;
$muteolive:#b2a989; 
$mutegreen:#8DA379; 
$muteblue:#799fa0;
$mutepurple:#9e82ae;
$navy:#003964;
$yellow:#d58007;
$gray:#999;
$lightgray:#cdd1d5;
$greyish:#adadad;
$green:#3C9513;
$bggray:#fafafa;
$bgblue:#f4f6fc;
$border:#d7d7d7;
$gray_on:#e5eeee;

// layout
$mainwidth:1440px;
$maingap:20px;
$sectiongap:40px;
$defaultFontSize:13px;

