
@use "./var";
@use "./reset";
@use "./mixin";
@use 'sass:list';
@use 'sass:color';
@use 'sass:map';

.btn_default{@include mixin.btn($bg:var.$mainColor);
  &_line{@include mixin.btn($border:var.$mainColor,$color:var.$mainColor);}
}
.btn_line{@include mixin.btn($border:var.$greyish,$color:#999);}
.btn_sub_line{@include mixin.btn($border:var.$subColor,$color:var.$subColor);}
.btn_close{@include mixin.btn($bg:#999ba4);}
.btn_filter{@include mixin.btn($border:#6d7bca,$color:#6d7bca);border-radius:11px;padding:5px 10px;}
.btn_cross{@include mixin.ico_only('\eb2e');}
.btn_prev{@include mixin.btn($bg:transparent,$color:#777,$addTxt:'\e88b',$hover:false);padding:0;font-weight:600;
  &:hover{color:#555;}
}
.btn_addition,.btn_modify{@include mixin.btn($border:var.$subColor,$color:var.$subColor,$addTxt:'\ea47',$hover:false);font-weight:600;padding:6px 8px;}
.btn_modify::before{content:'\ebe7';}
.btn_delete{@include mixin.btn($border:var.$greyish,$color:#999,$addTxt:'\ea49',$hover:false);font-weight:600;padding:6px 8px;}
.btn_newWindow{@include mixin.icobtn();font-weight:600;}
.btn_send{@include mixin.icobtn($y:-24px,$size:16px);padding:3px 10px;border-radius:12px}
.btn_tblModify{@include mixin.ico_only($y:-50px,$size:18px);}
.switch_toggle{display:inline-flex;flex-shrink:0;justify-content:center;vertical-align:middle;
  $unselectColor:#b0b2c2;$hoverColor:#868686;$selectColor:var.$mainColor;
  input{position:absolute;opacity:0;width:0;height:0;appearance:none;outline:none;box-shadow:none;vertical-align:middle;
    &+label{position:relative;left:-1px;width:40px;height:20px;cursor:pointer;z-index:100;background-color:$unselectColor;border-radius:28px;word-break:keep-all;white-space:nowrap;border:1px solid $unselectColor;vertical-align:middle;outline:none;cursor:pointer;letter-spacing:-.05em;font-size:0;
      &::before{position:absolute;top:0px;right:20px;display:inline-block;content:"";width:18px;height:18px;background-color:#fff;border-radius:50%;transition:.05s;}
    }
    &:hover+label{box-shadow:0 0 3px $selectColor;}
    &:not(&:checked):hover+label{box-shadow:0 0 3px $unselectColor;}   
    &:checked+label{transition:0.5s;border-color:$selectColor;background-color:$selectColor;
      &::before{right:0;}
      &::after{color:$selectColor;}
    }
  }
  [data-label]{margin-left:30px;}
  [data-label]::after{position:absolute;right:calc(100% + 5px);content:attr(data-label);font-size:11px;line-height:24px;color:$unselectColor;}
}
.tit,.sub_tit{@include mixin.flex;
  h2{font-size:14px;color:#000;font-weight:600;line-height:1;}
}
.sub_tit{width:100%;border-bottom:1px solid #d7d7d7;padding:10px 7px;}
.btn_area{@include mixin.flex;}
.tool{margin-left:auto;}

.tab{border-bottom:1px solid var.$border;
  ul{@include mixin.flex;}
  li{flex:1;border-bottom:3px solid transparent;margin-bottom:-1px;
    a{width:100%;text-align:center;color:#555;font-size:16px;padding:17px 0;letter-spacing:-.8px;font-family:"Malgun Gothic","맑은고딕";}
  }
  .on{border-color:var.$mainColor;
    a{color:var.$mainColor;font-weight:bold;}
  } 
}
.tbl_top{@include mixin.flex;margin-bottom:12px;}
.tbl_wrap{border-top:1px solid var.$mainColor;overflow-y:auto;}
.tbl_default{width:100%;text-align:center;
  thead{position:sticky;left:0;top:0;z-index:150;
    &::after{@include mixin.shape(100%,0);position:absolute;left:0; border-bottom:1px solid var.$border;bottom:0;}
  }
  th,td{border:1px solid var.$border;border-width:0 0 1px 1px;height:37px;
    &:first-of-type{border-left-width:0;}
  }
  th{background-color:var.$thColor;}
}
.tbl_hover{
  tr{cursor:pointer;
    &:hover{font-weight:600;}
    &.on{background-color:var.$lightblue;}
  }

}
.disconnection{background-color:var.$bggray;color:#aaa;}
/* paginate */
.tui-pagination{display:flex;align-items:center;justify-content:center;margin-top:32px;text-align:center;gap:2px;
  span{vertical-align:top;}
  .tui-page-btn{position:relative;flex:0 30px;padding:5px;color:#333;font-size:15px;line-height:normal;font-weight:normal;border-radius:2px;
    &.tui-is-selected,
    &:hover{color:#fff;background-color:var.$mainColor;}
    &.tui-is-disabled ::before,
    &.tui-is-disabled:hover{background-color:transparent;color:#ccc;}
  }
  $_tui_ico_btn:( 'prev':'〈', 'next':'〉', 'first':'〈〈', 'last':'〉〉' );
  @each $type, $txt in $_tui_ico_btn{
    .tui-#{$type}{_width /**/:47px;width:30px;height:30px;background-color:#fff;margin:0 1px;
      &:hover{background-color:#edf0f3;}
    }
    .tui-ico-#{$type}{@include mixin.f-blind;
      &::before{font-size:10px;line-height:19px;font-weight:bold;color:#000;content:$txt;}
    }
  }
}
.flex_wrap{@include mixin.flex($align:flex-start);
  &.cont{gap:50px;flex:1;}
  & > .section{flex:1;height:100%;} 
}
.section{
  .tit{margin-bottom:10px;}
  h2{color:#414f9f;font-weight:600;font-size:18px;}
}

[data-empty]:empty{
  @include mixin.flex($align:center,$justify:center);color:#999;font-size:11px;gap:6px;
  &::before{@include mixin.fontello('\eb77');font-size:15px;}
  &::after{content:attr(data-empty);line-height:1;}
}

@each $type, $color in var.$crisisStage {
  .crisisStage_#{$type}{color:$color;font-weight:900;}
}

.desc{@include mixin.flex($direction:column,$align:stretch);gap:7px;overflow:hidden;
  dt{@include mixin.flex;overflow:hidden;width:100%;
    img{flex-shrink:0;}
    strong{@include mixin.ellipsis();letter-spacing:-.98px;line-height:1;width:auto;}
  }
  dd, dd > strong, li{display:flex;position:relative;font-size:13px;color:#555;letter-spacing:-.05em;align-items:center;gap:5px;flex-shrink:0;}
  dd > strong{align-self:flex-start;}
  :is(dd > strong, & > li)::before{flex-shrink:0;@include mixin.shape(2px,2px);border-radius:50%;background-color:#000;}
  em::after{content:":";color:#555;margin:0 3px;font-weight:normal;}
  .disaster_symbol{width:30px;margin-right:6px;}  
  .tag_lst{padding:0;}
}

.ipt_dl{display:grid;grid-template-columns: minmax(83px, auto) 1fr;column-gap:35px;row-gap:9px;align-items:start;
  dt{min-height:var.$iptH;@include mixin.flex($align:center);gap:1px;font-weight:600;color:#000;}
  dd{grid-column-start:2;
    &:has(.tag_lst){@include mixin.box;padding:5px;}
  }
  span{display:inline-block;line-height:var.$iptH;}
  input[type="text"],input[type="password"]{width:100%;}
}
.tag_lst{@include mixin.flex;gap:5px;flex-wrap:wrap;color:#777;padding:4px 0;
  li{border:1px solid #a0a9db;border-radius:6px;line-height:1;padding:3px 7px 3px 9px;}
  .btn_cross::before{font-size:10px;color:#b3b3b3;margin-left:5px;}
}
.wrap{@include mixin.flex($direction:column,$align:stretch);min-width:1400px;height:100vh;}

//login
.wrap:has(.login){flex-direction:row;width:100vw;height:100vh;overflow:hidden;}
.visual_login{flex:1;}
.login{flex:.45;@include mixin.flex($justify:center,$align:stretch,$direction:column);height:100%;padding:6% 7%;gap:20%;
  header{text-align:center;}
  .main_logo{font-family:'NanumSquare';color:#535353;letter-spacing:-1.8px;font-size:36px;
    b{color:#1e319d;}
    &::before{@include mixin.shape(116px,116px);display:block;background:url(../images/login_logo.png) 0 no-repeat;margin:0 auto 28px;}
  }
  .footer{height:fit-content;color:#696868;font-size:12px;background-color:transparent;}
}
.login_ipt{@include mixin.flex($align:stretch,$direction:column);gap:20px;
  input:not([type="checkbox"]){border-width:0 0 1px;border-radius:0;color:#000;line-height:40px;
    &:focus{border-bottom:2px solid var.$mainColor;margin-bottom:-1px;outline:none;}
  }
}
[for="remember"]{color:#777;font-size:13px;letter-spacing:-.98px;}
.btn_login{line-height:76px;border-radius:37px;background-image:linear-gradient(45deg, #1e319d,#4960e1);font-size:20px;color:#fff;font-weight:bold;margin-top:15%;text-align:center;letter-spacing:-1.5px;}
//toast
.toast_alarm{display:block;position:fixed;z-index:9999;bottom:10px;right:10px;
  ul{@include mixin.flex($direction:column);gap:5px;}
	li{@include mixin.flex();padding:8px;gap:20px;width:382px;border-radius:5px;color:#fff;
    &::before{@include mixin.fontello('\e877');font-size:22px;margin-left:7px;}
  } 
  .new_disater{background-color:var.$orange;}
  .change_process{background-color:var.$blue;}
  .toast_msg{flex:0 1 auto;overflow:hidden;
    p{@include mixin.ellipsis();}
    b{color:#ef4848;font-size:16px;font-weight:800;}
  }
	.toast_time{font-size:11px;}
	.btn_cross{align-self:flex-start;transform:scaleY(1.2);margin-left:auto;}
}                                                 
.header{@include mixin.flex;height:56px;padding:0 var.$maingap;background-color:var.$mainColor;
  a,button{color:#fff;}
  h1{font-size:20px;
    a{font-weight:600;letter-spacing:-.05em;letter-spacing:-.05em;
      &::before{@include mixin.shape(38px,42px);background:url(../images/main_logo.png) 0 no-repeat;margin-right:10px;}
    }
  }
}
.util{margin-left:auto;
  ul{@include mixin.flex;gap:20px;}
  a,button{position:relative;width:32px;height:32px;border-radius:50%;font-size:0;text-align:center;background:url(../images/ico_top.png) 0 0 no-repeat;
  }
  @for $i from 1 through 5{
    li:nth-child(#{$i}) :is(a,button){background-position-y: -42px * ($i - 1);}
  }
  .alert_num{position:absolute;top:-1px;left:24px;width:18px;height:18px;border-radius:50%;background-color:var.$red;font-size:11px;line-height:18px;}
}
.main_container{@include mixin.flex($align:stretch);flex:1;min-height:570px;}
aside{width:360px;border-right:1px solid var.$border;
  .aside_wrap{height:100%;
    &> .tit{padding:9px 14px 9px 30px;border-bottom:1px solid var.$border;}
  }
  .filter{padding:12px var.$maingap;text-align:right;border-bottom:1px solid var.$border;}
  @each $state, $value in var.$status {
    .#{$state} {
      $color: map.get(map.get(var.$status, $state), color);
      color:$color;
      button{background-color:$color;}
    }
  }
}
.aside_cont{@include mixin.flex($align:stretch,$direction:column);height:calc(100% - 48px);overflow-y:auto;
  dt{font-size:16px;letter-spacing:-1.2px;}
  dd{color:#777;
    strong{width:60px;font-weight:normal;color:#000;}
  }
}
.aside_util{background-color:#fff;}
.aside_btn{padding:15px 50px;background-color:var.$lightpurple;
  .btn_add{@include mixin.btn(var.$mainColor);display:grid;grid-template-columns:1fr 38px;align-items:center;width:100%;color:var.$mainColor;border-radius:30px;text-align:center;padding:5px;font-size:20px;font-weight:600;
    &::after{@include mixin.shape(auto,auto);@include mixin.fontello('\e92c');aspect-ratio:1;background-color:var.$mainColor;border-radius:50%;line-height:38px;color:#fff;font-size:21px;-webkit-text-stroke:2px var.$mainColor;}
  }
}
$_types:(auto:var.$mutepurple,manual:var.$muteolive,real:var.$mutered,test:var.$mutegreen,training:var.$muteblue);
.type{order:1;@include mixin.flex($direction:column);width:29px;gap:2px;margin:6px 0 0 auto;
  i{width:29px;line-height:16px;text-align:center;color:#fff;font-size:12px;border-radius:2px;}
  @each $type, $color in $_types {
    .#{$type}{background-color:$color;}
  }
}
.main_cont{flex:1 0 590px;@include mixin.flex($direction:column,$align:stretch);overflow-y:auto;
  .tit{margin-bottom:10px;}
}
.sub_cont{flex:1;@include mixin.flex($align:stretch,$direction:column);padding:30px 50px;
  & > .tit{margin-bottom:30px;
    h1{font-weight:600;font-size:30px;}
  }
}
.bredcrumb{text-align:right;
  ul{@include mixin.flex($inline:true);}
  li{color:#888;letter-spacing:-.65px;
    &:first-child{
      @include mixin.ico_only($size:12px, $x:-2px, $imgurl:'ico.png');
      a{@include mixin.f_blind;}
    }
    &:last-child{color:#000;}
    &::before{@include mixin.fontello('\f105');margin:0 8px;color:#888;}
  }
}
.search{@include mixin.flex;border:2px solid var.$mainColor;border-width:2px 0;gap:4px;padding:13px 0;margin-bottom:18px;
  ul{@include mixin.flex($inline:true);gap:15px;}
}
.map_content{flex:1;position:relative;background-color:var.$gray;min-height:150px;}
.symbols{position:relative;
  .layer{position:absolute;@include mixin.flex($align:flex-start);gap:7px;background-color:#fff;width:230px;border-radius:3px;box-shadow:0px 2px 9px 0 rgba(0, 0, 0, .22);padding:10px 20px 10px 10px;border:1px solid #b4b4b4;
    &::before{@include mixin.down_arrow($size:8px,$border:#b4b4b4);left:14px; bottom:-5px;}
    .disaster_symbol{width:36px;}
    .desc{@include mixin.flex($direction:column,$align:flex-start);gap:4px;flex:1 auto;overflow:hidden;
      strong{@include mixin.ellipsis();letter-spacing:-.98px;line-height:1;}
    }
    .date{font-size:11px;color:#777;margin-left:auto;font-family:'MalgunGothic','맑은 고딕';}
  }
  .ico_pin{position:absolute;@include mixin.shape(36px,52px);background:url(../images/pin.png) 0 0 no-repeat;}
}
@mixin status($state) {
  $color: map.get(map.get(var.$status, $state), color);
  $icon: map.get(map.get(var.$status, $state), icon);
  color: $color; font-weight: 600; letter-spacing: -0.13px; line-height: 1;
  &::before { @include mixin.fontello($icon); margin-right: 5px; }
}
@each $state, $value in var.$status {
  .status_#{$state} {
    @include status($state);
  }
}
.disaster_lst{@include mixin.flex($align:stretch, $direction:column);height:calc(100vh - 247px);overflow-y:auto;
  li > a{@include mixin.flex($align:flex-start);border-bottom:1px solid var.$border;padding:15px 15px 15px var.$maingap;cursor:pointer;
    &:hover{background-color:var.$lightblue;}
  }
  dd > strong::before{content:"·";}
}
.disaster_desc{@include mixin.flex($align:flex-start);padding:14px;gap:10px;  
  .desc{padding-left:16px;color:#777;
    .disaster_symbol{width:36px;}    
    .spacing_fix{word-spacing:20px;}
  }
}
.mainDepart_desc{padding:15px 15px 15px 30px;border-top:1px solid var.$border;
  .status{position:relative;display:grid;align-items:center;min-height:35.33px;margin-top:10px;background-color:var.$bggray;border:1px solid var.$border;padding:4px;border-radius:18px;text-align:center;
    &:has(button){grid-template-columns:1fr 70px;}
    button{color:#fff;border-radius:12px;padding:6px 10px;line-height:1;}    
  }
}
.response_proc{flex:1;background-color:var.$bggray;padding:15px 15px 0 30px;
  .tit{border-bottom:1px solid #eee;padding-bottom:14px;}
  .data_status{@include mixin.flex;color:#777;font-size:12px;
    li{font-weight:600;
      &:first-child{color:#555}
      &:not(:first-child)::before{content:"/";color:#777;font-weight: normal;margin:0 3px;}
      &.ongoing{color:var.$mint;}
      span{margin-left:3px;}
    }
    &::before{content:"(";}
    &::after{content:")";}
  }
}
.proc_lst{@include mixin.flex($direction:column,$align:stretch);
  li{border-bottom:1px solid #eee;}
  li>a{@include mixin.flex();gap:8px;padding:13px 4px;color:#999;font-size:11px;letter-spacing:-.55px;}
  .proc_data{flex:1;overflow:hidden;padding-right:15px;}
  strong{@include mixin.ellipsis;color:#555;font-size:13px;}
  .status{width:30px;height:30px;flex-shrink:0;border-radius:50%;color:#fff;font-size:11px;line-height:30px;border:1px solid transparent;letter-spacing:-.15em;white-space:nowrap;text-align:center;@include mixin.textStroke($color:#00000033);
    &.await{background-color:#92a5a5;border-color:color.scale(#92a5a5, $lightness: -10%);}
    &.ongoing{background-color: var.$mint;border-color:color.scale(var.$mint, $lightness: -10%);}
    &.done{background-color: #b5b1b1;border-color:color.scale(#b5b1b1, $lightness: -10%);}
  }
}
.data{flex-shrink:0;margin-left:auto;align-self:flex-start;
  span,button{@include mixin.ico_only($size:17px, $y:-63px, $imgurl:'ico.png');display:block;position:relative;width:18px;aspect-ratio:1;border-radius:50%;font-size:10px;line-height:18px;color:#000;letter-spacing:-1px;text-align:center;z-index:10;padding-right:1px;background-color:#d3d3d3;
    &:not(:first-of-type){margin-top:5px;}
    &::before{position:absolute;left:-18px;}
  }
  .data_chat{background-color:var.$red;color:#fff;
    &::before{background-position-y:-99px;}
  }
}
.proc_desc{padding:25px var.$maingap;
  .status_ongoing{color:var.$mint;}
  .status_await{color:#92a5a5;}
  .proc_status{@include mixin.flex($justify:flex-end);gap:23px;margin-top:10px;letter-spacing:-.13px;}
}
.proc_ipt{@include mixin.flex($direction:column,$align:stretch);gap:12px;
  .ipt_item{@include mixin.flex;gap:4px;
    label{flex:1};
    input{width:100%;}
  }
}
.proc_info{
  h1{font-size:16px;font-weight:600;}
  .proc_content{@include mixin.box;height:100px;overflow-y:auto;white-space:pre-line;}
}
.proc_member{margin-top:45px; 
  .tbl_wrap{max-height:298px;min-height:113px;}
}
.chat_wrap{position:relative;@include mixin.flex($direction:column,$align:stretch);width:450px;height:100%;padding:5px 20px var.$maingap;
  .tit{margin-bottom:15px;}
  &.disabled{opacity:.5;
    &::after{@include mixin.shape(100%,100%);position: absolute;left:0;top:0;background-color:#00000033;}
  }
}
.msg_lst{@include mixin.flex($direction:column,$align:stretch);gap:5px;padding-top:10px;flex:1;overflow-y:auto;
  & > li{position:relative;padding:0 41px;
  }
  .balloon{@include mixin.flex($direction:column,$align:stretch);gap:5px;
    p{position:relative;width:fit-content;border:1px solid #ddd;border-radius:0 20px 20px;padding:10px 15px;background-color:#E9EBF5;white-space:pre-line;text-align:left;color:#000;}
  }
  .profile_thumb{position:absolute;left:0;top:0;@include mixin.shape(34px,34px);background-color:#5b6bc6;border-radius:50%;
    font-size:20px;color:#fff;text-align:center;font-weight:600;line-height:34px;
    &:has(img){font-size:0;}
    img{border-radius:50%;overflow:hidden;object-fit:cover;}
  }
  strong{color:#555;margin-bottom:5px;}
  .chat_status{font-size:10px;color:#777;padding:2px 8px;}
  .my_msg{text-align:right;padding:0 10px 0 72px;
    .balloon p{border-radius:20px 0 20px 20px;background-color:#fff; margin-left:auto;}
  }
}
.system_item{text-align:center;}
.date_marker{display:inline-block;width:60%;padding:4px 20px;border-radius: 13px; background-color:#f5f5f5; color:#000;font-size:12px;
}
.welcome_msg{background-color:#fff;border:1px solid var.$border;box-shadow:0 0 4px #00000010;border-radius:10px;padding:10px 15px;text-align:left;margin-bottom:10px;
  & > strong{font-weight:900;font-size:14px;letter-spacing:-2.5%;}
  .welcome_desc{color:#555;
    li{@include mixin.flex($align:flex-start);gap:3px;line-height:1.2;
      &:not(:first-child){margin-top:8px;}
      &::before{content:'·';}
    }
    strong{flex-shrink:0;margin-bottom:0;
      &::after{content:':';margin-left:3px;}
    }
  }
  .content{@include mixin.bgcolor_opacity(var.$mainColor,0.1);color:var.$mainColor;padding:10px 15px;border-radius:10px;margin-top:5px;line-height:1.2;
    strong{@include mixin.ico_only($size:16px,$y:-32px,$imgurl:'ico.png'); color:var.$mainColor;@include mixin.ellipsis();font-size:13px;}
    p{@include mixin.ellipsis();}
    .tag_lst{flex-direction:column;align-items:stretch;font-size:12px;margin-top:5px;
      li{@include mixin.ellipsis();}
    }
  }
  .welcome_desc{
    strong{font-weight:normal;}
  }  
}
.ipt_area{flex-shrink:0;margin-top:auto;}
.pop_chat{min-width:400px;
  .disaster_symbol{width:36px;margin-right:10px;}
  .tit{overflow:hidden;margin-bottom:0;
    h1{ font-size:18px;font-weight:600;letter-spacing:-1.35px;@include mixin.ellipsis;}
  }
  .sub_tit{gap:20px;
   h2{color:var.$mainColor;@include mixin.ellipsis;}
  }
  .data_member:focus-within .member_layer{display:block;}
}
.member_layer{display:none;position:absolute;right:0;top:calc(100% + 7px);width:100px;border:1px solid #d7d7d7;border-radius:3px;background-color:#fff;text-align:left;font-size:12px;color:#555;
  li{position:relative;padding:0 3px;line-height:20px;padding-left:28px;}
  .me{background-color:#F2F2F2;
    &::before{position: absolute;left:8px;top:50%;@include mixin.shape(16px,16px);content:'나';font-size:10px;color:#fff;background-color:#98a2db;border-radius:50%;text-align:center;letter-spacing:-.1px;font-weight:600;margin-top:-8px;line-height:18px;}
  }
}

nav{width:220px;border-right:1px solid var.$border;box-shadow:0 4px 5px #00000033;
  header{padding:30px 30px 25px;border-bottom:1px solid var.$border}
  h1{color:var.$mainColor;font-size:24px;font-weight:600;}
  li{border-bottom:1px solid var.$border;margin-right:-1px;}
  a{width:100%;color:#000;font-size:18px;letter-spacing:-.45px;padding:16px 30px;border-right:7px solid transparent;}
  .on a{background-color:#7e89c8;color:#fff;border-right-color:var.$mainColor;}
}
.part_admin{
  .tbl_wrap{height:calc(100vh - 261px);}
}

/* pop common */
::backdrop{position:fixed;z-index:9999;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{min-width:600px;position:fixed;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);padding:30px 35px;border:1px solid #2a3652;box-shadow:0 2px 3px 0 rgba(0, 0, 0, .49);}
.pop_body{max-height:calc(100vh - 200px);margin:1px;overflow-y:auto;background-color:#fff;
  .tit:has(h2){border-bottom:1px solid #005aab;margin-bottom:10px;padding-bottom:5px;
    h2{font-size:16px;color:#005aab;}
  }
}
.pop_tit{display:flex;gap:10px;border-bottom:3px solid var.$mainColor;margin-bottom:15px;padding-bottom:10px;
  h1{font-size:18px;letter-spacing:-.9px;color:#000;}
  .btn_cross{position: absolute;right:13px;top:14px;
    &::before{font-size:24px;content:"\eb6e";-webkit-text-stroke:4px #fff;}
  }
}
.btn_pop_close{position:relative;top:0;width:18px;height:18px;margin-left:auto;font-size:0;
  &::before{content:'';display:block;width:100%;height:100%;background:url(../images/btn_pop_close.png);}
}
.pop_foot{@include mixin.flex($justify:flex-end);gap:4px;border-top:1px solid var.$border;padding-top:15px;margin-top:15px;}
.pop_chat{width:100%;}


// .crisisStage {--r:4px; /* border radius */
// display:inline-flex;align-items:flex-end;justify-content:center; color:#fff;width:35px;font-size:12px;white-space:nowrap;aspect-ratio: 1/cos(30deg);line-height:1.3;letter-spacing:-.1em;
//   --_g:calc(tan(60deg)*var(--r)) bottom var(--r),#000 98%,#0000 101%;
//   -webkit-mask:
//     conic-gradient(from -30deg at 50% calc(200% - 3*var(--r)/2),#000 60deg,#0000 0)
//      0 100%/100% calc(100% - 3*var(--r)/2) no-repeat,
//     radial-gradient(var(--r) at 50% calc(2*var(--r)),#000 98%,#0000 101%),
//     radial-gradient(var(--r) at left  var(--_g)),
//     radial-gradient(var(--r) at right var(--_g));
//   clip-path: polygon(50% 0,100% 100%,0 100%);object-fit: cover;
//    @each $type, $color in var.$crisisStage {
//     &.#{$type}{background-color:$color;}
//   }
// }
